$body_font					: "Manrope", sans-serif;
$heading_font				: "Manrope", sans-serif;
$body_font_color			: #010102;

// ============== Colors ==================

$theme_color1: #033610;
$theme_color2: #b1a8a8;
$theme_color3: #6b756e;
$white: #fff;