$body_font					: "Manrope", sans-serif;
$heading_font				: "Manrope", sans-serif;
$body_font_color			: #010102;

// ============== Colors ==================

$theme_color1: #3d0303;
$theme_color2: #bda6a6;
$theme_color3: #756c6b;
$white: #fff;
$black: #000;
$error_color: red;

// === === Different font sizes =========

$font_size_base				: 0.889rem;
$font_size_h1 				: 1.602rem;
$font_size_h2 				: 1.424rem;
$font_size_h3 				: 1.266rem;
$font_size_h4 				: 1.125rem;
$font_size_h5 				: 1rem;
$font_size_h6 				: 0.889rem;
$font_size_sm               : 0.79rem;
$font_size_xs               : 0.694rem;
$font_size_xxs               : 0.55rem;