$body_font					: "Manrope", sans-serif;
$heading_font				: "Manrope", sans-serif;
$body_font_color			: #010102;

// ============== Colors ==================

$theme_color1: #3d0303;
$theme_color2: #bda6a6;
$theme_color3: #756c6b;
$white: #fff;