.blog_details{

    padding: 15px;

    .bp_image{

        background-color: $theme_color3;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;

        img{

            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: top;

        }

    }

    .bp_dethead{

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .blog_reaction{

        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: -48px;

        button{

            margin-left: 16px;

        }

    }


}