.post_categories{

    padding: 15px;

    .category_menu{

        display: flex;
        justify-content: center;
        border-bottom: 1px solid $theme_color2;
        padding-bottom: 2px;

        li, a{

            display: block;

        }

        li{

            a{

                background-color: $theme_color2;
                color: $theme_color1;
                padding: 5px 15px;
                text-decoration: none;

                &:hover, &.active{

                    background-color: $theme_color1;
                    color: $white;

                }

            }

            &:first-child{

                a{

                    border-top-left-radius: 12px;

                }

            }

            &:last-child{

                a{

                    border-top-right-radius: 12px;

                }

            }

            +{

                li{

                    margin-left: 2px;

                }

            }

        }

    }

}